<div>
    <h2>Tournament Stages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tournament-stage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Tournament Stage
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phase"><span>Phase</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phaseCode"><span>Phase Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstPlayerId"><span>First Player</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secondPlayerId"><span>Second Player</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="winnerId"><span>Winner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nextStageId"><span>Next Stage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tournamentId"><span>Tournament</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tournamentStage in vm.tournamentStages track by tournamentStage.id">
                    <td><a ui-sref="tournament-stage-detail({id:tournamentStage.id})">{{tournamentStage.id}}</a></td>
                    <td>{{tournamentStage.phase}}</td>
                    <td>{{tournamentStage.phaseCode}}</td>
                    <td>
                        <a ui-sref="player-detail({id:tournamentStage.firstPlayerId})">{{tournamentStage.firstPlayerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="player-detail({id:tournamentStage.secondPlayerId})">{{tournamentStage.secondPlayerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="player-detail({id:tournamentStage.winnerId})">{{tournamentStage.winnerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="tournament-stage-detail({id:tournamentStage.nextStageId})">{{tournamentStage.nextStageId}}</a>
                    </td>
                    <td>
                        <a ui-sref="tournament-detail({id:tournamentStage.tournamentId})">{{tournamentStage.tournamentId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tournament-stage-detail({id:tournamentStage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tournament-stage.edit({id:tournamentStage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tournament-stage.delete({id:tournamentStage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
