<div>
    <h2>Obrazy</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Dodaj nowy obraz
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alias"><span>Alias</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data"><span>Zdjęcie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Nazwa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in vm.images track by image.id">
                    <td><a ui-sref="image-detail({id:image.id})">{{image.id}}</a></td>
                    <td>{{image.alias}}</td>
                    <td>
                        <a ng-if="image.data" ng-click="vm.openFile(image.dataContentType, image.data)">
                            <img data-ng-src="{{'data:' + image.dataContentType + ';base64,' + image.data}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="image.data">{{image.dataContentType}}, {{vm.byteSize(image.data)}}</span>
                    </td>
                    <td>{{image.name}}</td>
                    <td>
                        {{image.ownerLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-detail({id:image.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.edit({id:image.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image.delete({id:image.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
