<div class="row">
    <div class="col-md-6">
        <h1>
            Ostatnie wyniki ligowe
        </h1>
        <table class="table table-striped table-bordered">
            <th>Nazwa ligi</th>
            <th>Gospodarz</th>
            <th>Gosc</th>
            <th>Wynik</th>
            <tr ng-repeat="round in vm.leagueResults">
                <td>{{round.league.name}}</td>
                <td>{{round.firstTeam.prefix + ' ' + round.firstTeam.location + ' ' + round.firstTeam.estabilished}}
                </td>
                <td>{{round.secondTeam.prefix + ' ' + round.secondTeam.location + ' ' +
                    round.secondTeam.estabilished}}
                </td>
                <td>{{round.tournamentMatch.firstPlayerScore + ':' + round.tournamentMatch.secondPlayerScore}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h1>
            Ostatnie wyniki turniejowe
        </h1>
        <table class="table table-striped table-bordered">
            <th>Nazwa turnieju</th>
            <th>Pierwszy zawodnik</th>
            <th>Drugi zawodnik</th>
            <th>Wynik</th>
            <tr ng-repeat="match in vm.tournamentMatches">
                <td>{{match.tournamentName}}</td>
                <td>{{match.firstPlayerName + ' ' + match.firstPlayerSurname}}</td>
                <td>{{match.secondPlayerName + ' ' + match.secondPlayerSurname}}</td>
                <td>{{match.firstPlayerScore + ':' + match.secondPlayerScore}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h1>
            Losowy zawodnik
        </h1>
        <div>
            <a ng-if="vm.randomPlayer.image.data"
               ng-click="vm.openFile(vm.randomPlayer.image.dataContentType, vm.player.image.data)">
                <img
                    data-ng-src="{{'data:' + vm.randomPlayer.image.dataContentType + ';base64,' + vm.randomPlayer.image.data}}"
                    style="max-height: 30px;"/>
            </a>
            <label>Imie: </label>{{vm.randomPlayer.name}} <br>
            <label>Nazwisko: </label>{{vm.randomPlayer.surname}} <br>
            <label>Narodowość: </label> {{vm.randomPlayer.nationality}} <br>
            <label>Wzrost: </label> {{vm.randomPlayer.height}} <br>
            <label>Klub: </label> {{vm.randomPlayer.club ? vm.randomPlayer.club.prefix + ' ' +
            vm.randomPlayer.club.location + ' ' + vm.randomPlayer.club.estabilished : 'Wolny zawodnik'}}
        </div>
    </div>
    <div class="col-md-6">
        <h1>
            Losowa drużyna
        </h1>
        <div class="row">
            <div class="col-md-6">
                <label>Nazwa: </label> {{vm.randomClub.prefix + ' ' + vm.randomClub.location + ' ' +
                vm.randomClub.estabilished}} <br>
                <label>Strona domowa: </label> <a href="{{vm.randomClub.homePage}}"
                                                  target="_blank">{{vm.randomClub.homePage}}</a> <br>
                <label>Menadżer: </label> {{vm.randomClub.manager ? vm.randomClub.manager.name + ' ' +
                vm.randomClub.manager.surname : 'Brak'}}<br>
                <label>Liczba zawodników: </label> {{vm.randomClub.players ? vm.randomClub.players.length : '0'}}
            </div>
            <div class="col-md-6">
                <a ng-if="vm.randomClub.image.data"
                   ng-click="vm.openFile(vm.randomClub.image.dataContentType, vm.randomClub.image.data)">
                    <img
                        data-ng-src="{{'data:' + vm.randomClub.image.dataContentType + ';base64,' + vm.randomClub.image.data}}"
                        style="max-height: 100px;"/>
                </a></div>
        </div>
    </div>
</div>
